# =========================
# Environment variables
# =========================
.env

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Temporary / logs
# =========================
*.tmp
*.log

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Data files
# =========================
data/raw/*
data/interim/*

# Allow keeping folder structure
!data/raw/.gitkeep
!data/interim/.gitkeep

# =========================
# Models (optional)
# =========================
models/*.pkl
models/*.joblib